#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 26.5rem;
  z-index: 100;
  background: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
}

#app .container-view {
  padding: 20px;
}

.vertical-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 767.98px) { 
  .vertical-scroll {
    height: 40rem !important;
  }
 }
.vertical-scroll {
  height: 32rem;
  overflow-y: scroll;
  overflow-x: hidden;
  
}

/* Defining grid system for mobile size devices */

@media (max-width: 575.98px) { 

  .col-mo-2 {
    width: 16.67%;
  }

  .col-mo-3 {
    width: 25%;
  }

  .col-mo-4 {
    width: 33.33%;
  }

  .col-mo-7 {
    width: 58.33%;
  }

  .col-mo-8 {
    width: 66.67%;
  }

  .col-mo-9 {
    width: 75%;
  }

 }